*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    scroll-behavior: smooth;
 }


body{
    margin: 0;
    /* background-color: #333; */
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}


/* COMMON CLASSES */
.container{
    width: min(90%, 1200px);   
    margin:0 auto;
}


img{
    display: block;
    width: 100%;
}

h1,h2,h3{
    font-family: 'Playfair Display', sans-serif;
    font-size: 2.5rem;
}

.heading{
    font-size: 4rem;
    font-weight: 900;
    color: #ED455D;
    margin-bottom: 1.875rem;
    text-transform: uppercase;
}

.text-center{
    text-align: center;
}

li{
    list-style:none;
}

a{
    text-decoration: none;
    color: #000;
}

.logo{
    width: 150px;
    height: 100px;
    display: flex;
    margin: 0;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.btn{
    padding: 1rem 1.25rem;
    outline-style: transparent;
    border: none;
    font-size: 1rem;
}

.pri-btn{
    color: #fff;
    background-color: #ED455D;
}

.btn-accent{
    border: 2px solid #5A4FF3;
    color: #5A4FF3;
}


/* HEADER AND NAVBAR */

header{
    /* background-color: #fff; */
    color:#fff;
}

.nav-links{
    width: 40%;
}

.nav-contact{
    color: #fff;
    background-color: #000;
}

/* Navbar is not responsive yet, so let's add the media queries. */

@media only screen and (max-width: 768px) {
    .nav-links {
        position: fixed;
        left: -100%;
        top: 12vh;
        flex-direction: column;
        background-color: #f3c6bb;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow:
         0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.25rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


/* @media (max-width: 820px){
    .navbar{
        padding: 1vh 1em;
    }
    .container{
        width:min(100%, 800px);
    }

} */



/* HERO SECTION */
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
       z-index: -1;
  }

.text-overlay{
    position: absolute;
    z-index:212121;
    width: 100%;
}


/* .hero-background-img{
    background-image: url('./img/Hero_background.jpg');
    width: 100%;
    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
} */
.hero-sec{
    padding: 10vh 1em;
}

/* hero section */
.whatsapp-logo{
    background-color:  transparent;
    width: 100px;
    height: 100px;
    position: fixed;
    top:100px;
    right: 10%;
   }
.container__wrapper{
    width: min(90%, 800px);
    margin: 0 auto;
    margin-top: 5rem;
    text-align: center;
}

.container__wrapper span{
    display: block;
}

.hero-title {
    font-size: 8.75rem;
    text-transform: uppercase;
    /* line-height: 170%; */
    letter-spacing: 0.05em;
   
    color: #fff;
}

.hero-title span{
    font-size: 6.875rem;
    letter-spacing: 0.2em;
}

/*form flex  */
.hero-flex{
    justify-content: space-around;
}

.hero-sec input, 
.hero-sec button{
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 1.25rem 1.5rem;
}


.hero-sec input{
    width: 40%;
    margin-left: 1.5rem;
}

/* .hero-sec video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  } */

  .hero-sec >*{
    z-index: 1;
  }

  /* .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(48,25,52,0.75);
    z-index: 0;
  } */


  /* Showcase section */
  .about_project{
    background-image: url('./img/background_img.png');
    padding: 15vh 1em;
    background-size: cover;
    color: #fff;
  }

  .about-project-title{
    font-size: 4rem;
  }

.about-project-container{
    width: min(90%, 1000px);
}

.about-project-container h1{
    text-align: start;
}
.about-project-container p{
    font-size: 1rem;
    font-weight: 300;
    text-align: start;
    margin-bottom: 1.5rem;
}

.bar{
    height: 2px;
    width: 200px;
    background-color: #ED455D;
}
 
.small-bar{
    max-width: 50%;
    margin: 1rem auto;
}

/* HIGHLIGHTS SECTION */

.project-highlights-sec{
    padding: 10vh 1em;
    background-image: url('./img/background_img.png');
    background-size: cover;
}

.highlights-title{
    letter-spacing: 2px;    
    font-weight: 600;
}

.split {
    color: #fff;
}

.split>*{
    flex-basis: 100%;
}

.split > div + div{
    margin-left: 2.875rem;
}
.split ul li{
    font-weight: 300;
    list-style: circle;
    line-height: 1.2;
}
.split ul >li + li{
    margin-top: 1rem;
}

.aminities{
    padding: 10vh 1em;
    /* background-image: url('./img/background_img.png');
    background-size: cover; */
    background-color: black;
}

.amini-title{
    color: #ED455D;
}

.carousel{
    width: min(90%,800px);
    margin: 0 auto;
}

.location-advan-sec{
    padding: 10vh 1em;
    background-color: #000;
}

.location-advan-sec li{
    font-size: 14px;
}


/* Floor Section */
.floor-section{
    padding: 10vh 1em;
    background-color: #000;
}

.floor-section a{
    display:flex;
    align-items: center;
    max-width: 200px;
    margin: 1rem auto;
}

.about-section{
    padding: 20vh 1em;
    background-image: url('./img/about-background.png');
    background-size: cover;
    background-blend-mode: multiply;
}

.about-section h1{
    color: #fff;
    text-align:start;
    font-size: 6rem;
}

.about-section p{
    font-size: 1rem;
    color: #6D7D8B;
}
.about-container-wrapper{
    width: min(90%, 600px);
}
.about-section a + a{
    margin-left: 1.5rem;
}

/* Contact Section */
.contact{
    padding: 20vh 1em;
    background-image: url('./img/contact_background.jpg');
    background-size: cover;
}

.contact-split{
    display: flex;
}

.contact-split > div + div{
    flex-basis: 120%;
}

.contact-split label{
    color: #1A3636;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
}

.contact-split form div{
    margin-bottom: 1.5rem;
}
.contact-split form input{
    width: 60%;
    padding: 1rem 1.25rem;
}

.contact-split .title__description{
    margin-bottom: 2.875rem;
}
.contact-split h1{
    color: #1A3636;
    text-align: start;
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 0;
}
.contact-split p{
    color:#020404;
}
.contact-split h3{
    color: #020404;
    font-size: 1.5rem;
    font-weight: 500;
}

.split-text > div+ div{
    flex-basis: 60%;
    margin-left: 0;
}
.split-text>*{
    flex-basis: 100%;
}
.split-text p{
    font-size: 13px;
    margin-bottom: 0;
    line-height: 1.5;
}

footer{
    background-color: #020404;
    padding: 1vh 1em;
}
footer p{
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    font-family: 'poppins', sans-serif;
}


/*Popup Modal */

/* The Modal (background) */
.popupBtn{
    padding: 1rem 1.5rem;
    cursor: pointer;
    background-color: #282A2E;
    color: #fff;
    border: none;
    border-radius: 4px;
}
.popupBtn:hover{
    background-color: transparent;
    border: 2px solid #282A2E;
    color: #282A2E;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width:min(100%, 400px); /* Full width */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  

  
  /* The Close Button */
  .closeBtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeBtn:hover,
  .closeBtn:focus {
    text-decoration: none;
    cursor: pointer;
}


.modal-content form label{
        color: #282A2E;
}


.btn-cards:hover{
    border: 2px solid #1bcebcba;
    color: #5A4FF3;
 }

 

@media (max-width:432px) {
    .whatsapp-logo{
        width: 60px;
    }
        .flex, .split> *{
            flex-basis: 100%;
        }
    .container{
        width: min(100%, 1200px);
    }
    /* Hero section */
    .hero-sec{
        padding: 8vh 1em;
    }
    
    .hero-title span{
        font-size: 2.25rem;
        line-height: 1;
    }

    .hero-title{
        font-size: 3rem;
    }

    .hero-sec form{
        width: 100%;
    }
    .hero video{
        object-fit: cover;
    }
    .hero-sec form input,
    .hero-sec form button{
        width: 80%;
        padding: 12px 16px; 
        font-size: 14px;
    }

    .hero-sec input{
        margin-left: 0;
        margin-top: 1rem;
    }

    .hero-sec input::placeholder{
        font-size: 12px;
    }

    .container{
        width: 100%;
    }

    .flex, .split{
        flex-direction: column;
    }
    .nav-ph-flex{
        flex-direction: row;
        justify-content: space-around;

    }

    .logo{
        width: 80px;
        height: 80px;
    }
    

    .heading{
        font-size: 2.25rem;
    }

    /* About project */
    .about_project{
        padding: 5vh 1em;
    }
    .about_project p{
        font-size: 14px;
        margin-top: 1rem;
    }

    .container__wrapper{
        width: 100%;
        margin-top: 0;
    }

    .showcase-flex div ul {
        width: 100px;
        font-size: 12px;
    }

    .project-highlights-sec ul {
        margin-top: 1rem;
    }
    .project-highlights-sec ul li{
        font-size: 12px;
    }
    
    /* About section */
    .about-section{
        padding: 5vh 1em;
    }

  .about-section  .btn{
        padding: 12px 14px;
        font-size: 14px;
        display: block;
    }
    
    .about-section a + a{
        margin: 0;
        margin-top: 1rem;
    }

    .about-section h1{
        font-size: 2.875rem;
    }
    .about-section p{
        font-size: 13px;
        line-height: 1.5;
    }

    .contact{
        padding: 5vh 0;
    }
    
    .contact-split{
        flex-direction: column;
        align-items: normal;
    }

    .title__description h1{
        font-size: 2.5rem;
        margin-top: 1.5rem;
    }
    form{
        width: 100%;
    }
    .contact-split form div input{
        width: 100%
    };

    .contact-split .split-text h1{
        font-size: 2rem;
    }
    .split > div + div{
        margin: 0;
        width: 100%;
    }

}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: min(100%,400px);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: #000;
    float: right;
    font-size: 35px;
    font-weight: bold;
    padding: 10px 10px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal form div{
    width: 90%;
    margin:0 auto;
    margin-bottom: 1rem;
  }
  .modal form label{
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .modal form input{
    display: inline-block;
    padding: 14px 16px;
    width: 90%;
    margin:0 auto;
  }

.modal form button{
    padding: 1rem 1.25rem;
    margin-left: 1.25rem;
    text-align: center;
    cursor: pointer;
}


.scaleBtn{
    animation: scaleUp 1s ease infinite;
    transform: scale(1);
}

@keyframes scaleUp {
    from {
        transform: scale(1.2);
    }
}